{% load static %}


<div class="wrapper row1">
    <section id="ctdetails" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul class="nospace clear">
            <li class="one_quarter first">
                <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a
                            call:</strong>
                        +00 (123) 456 7890</span></div>
            </li>
            <li class="one_quarter">
                <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a
                            mail:</strong> tarunsharmapatwa@gmail.com.com</span></div>
            </li>
            <li class="one_quarter">
                <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Mon. -
                            Sat.:</strong>
                        08.00am - 18.00pm</span></div>
            </li>
            <li class="one_quarter">
                <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit
                            us:</strong> Directions to <a href="#">our location</a></span></div>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>